<div class="component-container">
  <div class="document-header-container">
    <div class="document-header-text" [innerHTML]="documentHeaderAsHtml() | async"></div>
  </div>
  <div class="ascii-container">
    <div class="ascii-header" [innerHTML]="(asciiHeader() | async) ?? '' ">
    </div>
  </div>
  <div class="presence-indicator" [style]="{opacity: (blinkVisibility | async)}">{{ blinkText | async }}</div>
  <div class="body-text-container">
    <div class="body-text" [innerHTML]="bodyTextAsHtml() | async"></div>
  </div>
</div>
