@use "sass:math";

:host {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: start;
  max-width: 600px;
}

.body-text-container {
  display: flex;
}

.ascii-container {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.ascii-header {
  font-size: 8px;
  color: lightgreen;
  width: min-content;
}

.presence-indicator {
  text-align: center;
  margin-bottom: 20px;
}

:host ::ng-deep.hidden {
  opacity: 0;
}

@for $i from 1 through 10 {
  :host ::ng-deep.hidden-#{$i}.hidden {
    position: relative;
    top: random(500) - 300 + px;
    left: random(200) - 100 + px;
    opacity: math.div($i, 80);
    color: rgb(random(255), random(255), random(255));
  }
}
