:host {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: start;
}

.text-container {
  max-width: 600px;
  display: flex;
}

.ascii-container {
  margin-bottom: 20px;
}

.ascii-header {
  font-size: 8px;
}

.presence-indicator {
  text-align: center;
  margin-bottom: 10px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
