asgiref==3.8.1
colorzero==2.0
Django==5.0.8
django-cors-headers==4.4.0
djangorestframework==3.15.2
gpiozero==2.0.1
lgpio==0.2.2.0; sys_platform=='linux'
python-decouple==3.8
RPi.GPIO==0.7.1; sys_platform=='linux'
sqlparse==0.5.1
tzdata==2024.1
