body, html {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #28252a;
  color: #e7dfe7;
  font-family: KodeMono, monospace;
  font-size: 16px;
}

@font-face {
  font-family: KodeMono;
  src: url("assets/fonts/KodeMono-VariableFont_wght.ttf");
}
